# Intellij IDEA
.IDEA/
*.iml

# Mac custom folder attributes
.DS_Store

# pip install
biobesu.egg-info/

# Python
*.pyc
__pychache__/

# Python virtual environment
venv/

# Pytest chache
.pytest_cache/

# Tool files
lirical.log

# All files except actual R scripts.
**/r_scripts/*
!**/r_scripts/*.R*